cmake-build-debug
.idea
*.[oa]
*~
# ignore local changes: git update-index --assume-unchanged [ libft/* | ft_printf/* | corewar | vm_champs/* / main.o ]
# resume track changes: git update-index --no-assume-unchanged <file>